html,body{
    height: 100vh;
    width: 100vw;
}
nav{
    display: flex;
    justify-content: center;
    /* box-shadow:0 5px 15px rgba(0, 0, 0, 0.2); */
}
.nav-center{
    height: 40px;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #fff;
    color:#49A6E9;
    font-size: 17px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.nav-links{
    display: inline-flex;
    color:#063251
}
li{
    width: 90px;
    list-style: none;
}
a{
    text-decoration: none;
}
a:visited{
    color: #063251;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F1f5f8;
    text-transform: capitalize;
}
h2{
    background-color: #222;
    color:#fff;
    font-size: 40px;
    border-radius:10px ;
    padding: 10px;
    letter-spacing: 2px;
}
.btn{
    width: 150px;
    height: 50px;
    font-size: 12px 20px;
    font-weight: 700;
    letter-spacing: 3px;
    color:#222;
    text-transform: uppercase;
    border-radius: 10px;
    border-width:2px ;
    border-style: solid;
    border-color: #222;
    
}
.btn:hover{
    background-color: #222;
    color:white;
}